@font-face {
  font-family: "HankenGrotesk";
  font-display: swap;
  font-weight: 100 900;
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

/* COLOR CLASSES*/

.gray-blue {
  color: hsl(224, 30%, 27%);
}

.light-lavender {
  color: hsla(241, 100%, 89%, 0.8);
}

body {
  height: 100%;
  font-family: "HankenGrotesk";
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.icon {
  background-color: transparent;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding-left: 1.1em;
  padding-top: 1em;
}

/* */

.container {
  display: grid;
  grid-template-columns: repeat(2, 340px);
  position: absolute;
  top: 50%;
  height: 440px;
  margin-top: -220px; /* Half of the height */
  left: 50%;
  width: 680px;
  margin-left: -340px; /* Half of the width */
}

/* CSS FOR RESULTS */

.container-results {
  color: hsl(221, 100%, 96%);
  display: flexbox;
  text-align: center;
  min-width: 340px;
  border-radius: 30px;
  border-style: none;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.container-results h2 {
  font-size: 1.6em;
  padding-top: 0.5em;
  margin-bottom: 0;
}

.container-results-content {
  padding: 0 2.1em 1.5em;
}

.container-header {
  padding: 1em 0 0.5em;
  font-size: 22px;
  font-weight: 600;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  margin: auto;
}

.dot h1 {
  font-size: 4rem;
  color: white;
}

.dot p {
  position: absolute;
  margin: 6.5rem 0 0;
  color: hsla(241, 100%, 89%, 0.6);
  padding: 0;
}
/* CSS FOR SUMMARY */

.container-summary {
  display: flex;
  flex-direction: column;
}

.container-summary h1 {
  font-size: 22px;
  margin-top: 43px;
  padding-left: 0.8em;
}

.c-s-container {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

/* This class exists, because padding only needs to be starting from the memory-component*/
.padding {
  padding-top: 25px;
}

.c-s-score {
  margin-left: auto;
  padding-right: 1.5em;
  padding-top: 1em;
  margin-bottom: 15px;
}

.c-s-reaction {
  color: hsl(0, 100%, 67%);
  padding-left: 0.7em;
  padding-top: 1em;
}

.c-s-memory {
  color: hsl(39, 100%, 56%);
  padding-left: 0.7em;
  padding-top: 1em;
}

.c-s-verbal {
  color: hsl(166, 100%, 37%);
  padding-left: 0.7em;
  padding-top: 1em;
}

.c-s-visual {
  color: hsl(234, 85%, 45%);
  padding-left: 0.7em;
  padding-top: 1em;
}

.summary-button {
  border-radius: 30px;
  border-style: none;
  background-color: hsl(224, 30%, 27%);
  color: white;
  font-size: 1.1rem;
  min-width: 240px;
  padding: 0.8em;
  margin: 35px 35px 20px;
}

/* MOBILE  */
@media (max-width: 675px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 13em 0 0;
    left: 0;
    top: 0;
    justify-content: center;
    top: 0;
  }
  /* CONTAINER RESULTS CSS */
  .container-header {
    padding-top: 2em;
  }
  .container-results {
    border-radius: 8%;
    margin-top: 20em;
  }
  .container-results p {
    font-size: 1.5em;
  }
  .container-results h1 {
    font-size: 5.5em;
  }
  .container-results h2 {
    font-size: 2.3em;
  }
  .container-results-content {
    padding-left: 4em;
    padding-right: 4em;
  }
  .dot {
    height: 250px;
    width: 250px;
  }
  .dot p {
    padding-top: 1em;
  }

  /* CONTAINER SUMMARY CSS*/
  .container-summary {
    font-size: 1.7em;
  }
  .container-summary h1 {
    font-size: 1.2em;
  }
  .container-summary-score {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
  .icon {
    height: 40px;
    width: 40px;
  }
  .summary-button {
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 50px;
  }
}
